link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css')
script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js')
script.
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
  "palette": {
  "popup": {
  "background": "#efefef",
  "text": "#404040"
  },
  "button": {
  "background": "#8ec760",
  "text": "#ffffff",
  "text-decoration": "none"
  }
  },
  "content": {
  "message": "Цей сайт використовує куки, які необхідні для його коректної роботи.",
  "dismiss": "OK"
  }
  })});
