footer
  .container
    .row
      .col-lg-12.text-center
        p
          div.nomobile &copy; 2017-2019 ukrexpat.com | Всі права застережено | 
            a(href='/tos') Умови використання          
          div.nomobile Корисна інформація, поради та цікаве спілкування для українських експатів і діаспори.       
          small.mobile &copy; 2017-2019 ukrexpat.com | Всі права застережено | 
            a(href='/tos') Умови використання          
          small.mobile Корисна інформація, поради та цікаве спілкування для українських експатів і діаспори.