each country in uniqueCountries
    a(class="nomobile btn text-uppercase" href='/events/country/#{country}') #{country}
    a(class="mobile btn btn-sm text-uppercase" href='/events/country/#{country}') #{country}