script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js")
script(async='', src='https://static.addtoany.com/menu/page.js')
script(async='', defer='', data-pin-hover='true', data-pin-lang='uk', src='//assets.pinterest.com/js/pinit.js')
//script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c728174c6dbced", async="async")
