script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/locale/uk.js")
script(src="/js/jquery.rss.min.js?v=#{appVersion}")
