link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/css/business-casual.css?v=#{appVersion}')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic')

script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
