p 
  | Під час повного або часткового використання інформації гіперпосилання на ukrexpat.com не нижче другого абзацу є обов‘язковим.
p
  | Редакція не несе відповідальності за достовірність рекламної інформації.
p
  | Думка редакції може не збігатися з думкою авторів статей та учасників форуму forum.ukrexpat.com.
p
  | Редакція не несе вiдповiдальностi за матерiали, опублiкованi з посиланням на інші видання та за зміст коментарів, розміщених користувачами сайту.