p
  | Перед тим як почати писати рекомендуємо ознайомитись з правилами форуму. Ми наполягаємо, щоб Ви обов'язково дотримувались правил та положень які описані нижче.
p
  strong 1. Загальні положення
p
  | 1.1. forum.ukrexpat.com є публічним форумом, вся інформація на форумі належить її авторам. Автором є особа, яка опублікувала інформацію.
p
  | 1.2. Дані правила існують виключно для максимально комфортного спілкування на форумі, дотримання їх є обов'язковим для всіх учасників.
p 1.2. Мовами спілкування на форумі є українська та англійська, повідомлення іншими мовами будуть видалятись Модераторами.
p
  strong 2. Учасники форуму
p
  | 2.1. Учасник форуму - особа яка зареєструвалась на цьому форумі, погодившись з усіма правилами форуму.
p
  | 2.2. Обраний Вами нікнейм не повинен містити: образливих/вульгарних слів, веб-адрес. Не зловживайте великими літерами. Не реєструйте більше одного нікнейму.
p
  strong 3. Теми та повідомлення
p
  | 3.1. Забороняються будь-які висловлювання, які мають антиукраїнське та антидержавне спрямування, суперечать Конституції та Законам України, правилам людської та мережевої етики, а також правилам цього форуму.
p
  | 3.2. Комерційна реклама та спам заборонені. У відповідному розділі можна розміщувати тільки некомерційні оголошення, які можуть бути корисними іншим українцям, які проживають за кордоном.
p
  | 3.3. Забороняється створювати ідентичні теми та повідомлення. Перед створенням теми переконайтесь, чи ніхто з інших учасників форуму не піднімав цього питання раніше.
p
  | 3.4. На форумі діють заборони на оффтопік (повідомлення, яке не мають фактичного відношення до обговорюваного питання) та ненормативну лексику.
p
  | 3.5. Забороняється давати посилання на сайти, які мають антиукраїнське спрямування, зміст яких порушує Конституцію чи Закони України.
p
  | 3.6. Забороняється створювати теми чи повідомлення, які містять лише посилання на інші сайти, без відповідного пояснення.
p
  | 3.7. Забороняється використовувати у підписах користувача посилання на інші сайти.
p
  strong 4. Модератори та Адміністрація
p
  | 4.1. За порядком на форумі стежать Модератори, вони мають право на свій розсуд змінювати і знищувати будь-які теми та повідомлення, що не відповідають правилам форуму, які викладені вище. Модератори на форумі призначаються Адміністрацією.
p
  | 4.2. Модератор не має права принижувати інших учасників форуму (внаслідок особистої неприязні, особистих переконань чи іншої причини).
p
  | 4.3. Адміністрація - одна чи кілька осіб які створили форум forum.ukrexpat.com, займаються його підтримкою, слідкують за роботою форуму. За відсутності Модераторів на форумі Адміністратори виконують функції Модераторів.
p
  | 4.4. Адміністрація обіцяє не надавати будь-яку приватну інформацію про Вас (включно з Вашою електронною адресою) у треті руки.
p Приємного спілкування!
i
  p
    | З повагою,
    br
    | Aдміністрація Форуму Українських Експатів
