extends layout
block page
  - var menu = '401'
block content
  div.row
    .nomobile
      p Вибачте, але у вас недостатньо прав на перегляд цієї сторінки. Ловіть кота!
      p.condensed ../\„„./\.
      p.condensed .(='•'= ) .
      p.condensed .(") „. (").
      p.condensed . \,\„„/,/
      p.condensed .│„„. „│
      p.condensed . /„/„ \„\
      p.condensed .(„)''l l''(„)
      p.condensed . .. ((...
      p.condensed . . . ))..
      p.condensed . . .((..
    small(font-size="smaller").mobile
      p Вибачте, але у вас недостатньо прав на перегляд цієї сторінки. Ловіть кота!
      p.condensed ../\„„./\.
      p.condensed .(='•'= ) .
      p.condensed .(") „. (").
      p.condensed . \,\„„/,/
      p.condensed .│„„. „│
      p.condensed . /„/„ \„\
      p.condensed .(„)''l l''(„)
      p.condensed . .. ((...
      p.condensed . . . ))..
      p.condensed . . .((..
