extends layout
block page
  - var menu = '404'
block content
  div.row
    .nomobile
      p Вибачте, але цю сторінку не знайдено. Ловіть кота!
      p.condensed ../\„„./\.
      p.condensed .(='•'= ) .
      p.condensed .(") „. (").
      p.condensed . \,\„„/,/
      p.condensed .│„„. „│
      p.condensed . /„/„ \„\
      p.condensed .(„)''l l''(„)
      p.condensed . .. ((...
      p.condensed . . . ))..
      p.condensed . . .((..
    small(font-size="smaller").mobile
      p Вибачте, але цю сторінку не знайдено. Ловіть кота!
      p.condensed ../\„„./\.
      p.condensed .(='•'= ) .
      p.condensed .(") „. (").
      p.condensed . \,\„„/,/
      p.condensed .│„„. „│
      p.condensed . /„/„ \„\
      p.condensed .(„)''l l''(„)
      p.condensed . .. ((...
      p.condensed . . . ))..
      p.condensed . . .((..
